.news{
    padding: 120px 0;
}
.news__heading{
    font-size: 48px;
}
.news__text{
    font-size: 18px;
}
.news__link{
    color: #FF007A;
    border: 1px solid #FF007A;
}

.btns{
    padding: 16px 28px;
}