.site-article{
    padding: 112px 0;
    background-color: #6B50FF;
}
.form-control{
    width: 365px;
    padding: 12px 28px;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
}
.site-artcile__heading{
    font-size: 48px;
}
.site-artcile__text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 44px;
}
.site-article__btn{
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    padding: 16px 38.5px;
    background-color: #FF007A;
    color: #fff;
}